.App {
  text-align: center;
  padding-top: 17%;
}

.bg{
  background-color: #202632;
}

.cardbg{
  background-color: #313a49;
}

.lgsize{
  margin-left: 30%;
  margin-right: 30%;
}

.smsize{
  margin-left: 10%;
  margin-right: 10%;
}

.textcolor{
  color: #cee3e8;
}

.text2color{
  color: #53ffab;
}

.gray{
  color:darkgrey
}

.btncolor{
  background-color: #53ffab;
  border-radius: 60px;
  padding-left: 22px !important;
  padding-right: 22px !important;
  padding-top: 21px !important;
  padding-bottom: 21px !important;

}

.padbot{
  padding-bottom: 80px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
